@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(10, 38, 71, 0.1);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(10, 38, 71, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(10, 38, 71, 0.5);
}

.logo {
  margin-top: 50px; /* Ajusta el valor según sea necesario */
  display: block;
  text-align: center;
}
